.dz-timepicker {
  position: relative;
  height: 100%;
  max-width: 162px;

  .dz-timepicker-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dz-timepicker-close {
      color: $muted;
      :hover {
        cursor: pointer;
        color: $danger;
      }
    }
  }
  .dz-timepicker-content {
    position: absolute;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $borders;
    border-top: none;
    display: none;
    width: 100%;
    box-shadow: 0rem 0rem 0.625rem rgba(69, 101, 173, 0.1);
    &.visible {
      display: block;
    }
    .dz-timepicker-content-inner {
      display: flex;
      box-sizing: border-box;
      width: 100%;
      flex-direction: row;
      align-content: space-around;
      overflow: hidden;
      .dz-timepicker-column {
        max-height: 120px;
        overflow: hidden;
        border-right: 1px solid $borders;
        min-width: 53px;
        width: 100%;
        position: relative;
        ul {
          position: relative;
          list-style: none;
          padding: 0 0 62px 0;
          margin: 0;
          width: 100%;
          .dz-timepicker-list-header {
            background-color: $background;
            font-size: small;
            font-weight: bold;
          }
          li {
            text-align: left;
            padding: 0 0 0 12px;
            height: 30px;
            line-height: 30px;
            &:hover {
              background-color: $background;
              cursor: pointer;
            }
          }
        }
        &:hover {
          overflow-y: auto;
        }
      }
    }
    .dz-timepicker-footer {
      padding: 5px 0px;
      justify-content: center;
      display: flex;
      border-top: 1px solid $borders;
    }
  }
  &.dz-timepicker-disabled {
    .dz-timepicker-input {
      background-color: $background;
      .dz-timepicker-close {
        color: $muted;
        :hover {
          cursor: unset;
          color: $muted;
        }
      }
    }
  }
}
