
.dz-badge {
  border-radius: 0.3125rem;
  font-size: small;
  position: relative;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  background-color: $background;
  margin: 0.125rem;
  &:not(.dz-badge-addon-left):not(.dz-badge-addon-right) {
    padding: 0.3125rem 0.625rem;
  }
  .badge-addon-left:first-child {
    left: 0;
    margin-left: -0.625rem;
    padding: 0.3125rem 0.625rem;
    margin-right: 0.625rem;
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
  }
  .badge-addon-right:first-child {
    right: 0;
    margin-right: -0.625rem;
    padding: 0.3125rem 0.625rem;
    margin-left: 0.625rem;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
  }
  @each $color,
  $value in $theme-colors {
    @include badge-variant(".dz-badge-#{$color}", $value);
  }
}
