.dz-icon-select-grid {
  display: inline-flex;
  flex-wrap: wrap;
}
.dz-icon-select {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  padding: 12px 6px 11px;
  width: 120px;
  overflow: hidden;
  height: 90px;
  border: 2px solid var(--dark);
  color: var(--dark);
  border-radius: 4px;
  transition: all 0.1s linear;
  box-sizing: border-box;
  margin: 0 18px 0 0;
  background-color: var(--bg);
}
.dz-icon-select-grid > .dz-icon-select:not(:last-of-type) {
  margin: 0 16px 16px 0;
}
.dz-icon-select > label {
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  color: var(--dark);
}
.dz-icon-select > svg {
  font-size: 32px;
}
.dz-icon-select.selected, .dz-icon-select:hover {
  border: 2px solid var(--blue-blue) !important;
  color: var(--blue-blue) !important;
}
.dz-icon-select:hover {
  cursor: pointer;
}
