@mixin make-columns() {
  @each $break in map-keys($breakpoints) {
    @for $width from 1 through $grid-column-count {
      &.dz-grid-item-#{$break}-#{$width} {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
      }
    }
  }

  @each $break in map-keys($breakpoints) {
    @for $width from 1 through $grid-column-count {
      &.dz-grid-item-#{$break}-#{$width} {
        flex: 0 0 percentage($width / $grid-column-count);
      }
    }
  }
}
