$background: #f0f0f1 !default;
$darkbackground: #f3f4f5 !default;
$darkmuted: #5a6872 !default;
$borders: #dfe3e6 !default;
$brand-bitbucket: #205081 !default;
$brand-github: #333 !default;

$darkblue: #394165 !default;
$lightblue: #48bbff !default;
$muted: #777 !default;
$blue: #6480ff !default;
$primary: #377ee2 !default;
$dark: #414f5a !default;
$success: #35c32a !default;
$danger: #fb617f !default;
$warning: #feb64d !default;
$purple: #9661e2 !default;
$white: #ffffff !default;
$disabled: lighten($muted, 10%);


$fontfamOxy: 'Oxygen', sans-serif;
$base-text-display-size: 0.875rem;
$base-text-input-size: 0.8125rem;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    'darkblue': $darkblue,
    'lightblue': $lightblue,
    'muted': $muted,
    'blue': $blue,
    'primary': $primary,
    'dark': $dark,
    'success': $success,
    'danger': $danger,
    'warning': $warning,
    'purple': $purple,
    'white': $white
  ),
  $theme-colors
);

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px
) !default;

$container-max-widths: (
  small: 540px,
  medium: 720px,
  large: 960px,
  xlarge: 1140px
) !default;
$grid-column-count: 12;
$grid-width: 100%;
$grid-item-width: ($grid-width / $grid-column-count);
