$background: #f0f0f1 !default;
$dark-muted: #5a6872 !default;
$borders: #dfe3e6 !default;
$brand-bitbucket: #205081 !default;
$brand-github: #333 !default;

$dark-blue: #394165 !default;
$light-blue: #48bbff !default;
$muted: #777 !default;
$blue: #6480ff !default;
$primary: #377ee2 !default;
$dark: #414f5a !default;
$success: #35c32a !default;
$danger: #fb617f !default;
$warning: #feb64d !default;
$purple: #9661e2 !default;
$white: #ffffff !default;

$fontfamOxy: 'Oxygen', sans-serif;


$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "dark-blue": $dark-blue,
    "light-blue": $light-blue,
    "muted": $muted,
    "blue": $blue,
    "primary": $primary,
    "dark": $dark,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "purple": $purple,
    "white": $white
  ),
  $theme-colors
);