%stuffs {
  background-color: $white;
  margin-top: 4px;
  box-sizing: border-box;
  border-color: $borders;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0.0625rem;
  transition: all 100ms ease 0s;
  outline: 0 !important;
  cursor: pointer;
}

.dz-select-container {
  .dz-select-info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 2.375rem;
    position: relative;
    @extend %stuffs;
    &:hover {
      border-color: darken($color: $borders, $amount: 30%);
      color: $background;
    }
    .dz-select-preview {
      flex-grow: 1;
      padding: 0.3125rem 0.625rem;
      color: $muted;
    }
    .dz-select-caret-container {
      align-self: flex-end;
      width: 1.875rem;
      padding: 0.3125rem;
      position: relative;
      &:before {
        content: '';
        width: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border: 0.0625rem solid $borders;
      }
      .caret:before {
        content: '';
        position: absolute;
        top: 0.625rem;
        left: 0.9375rem;
        border-top: 0.4375rem solid #080808;
        border-left: 0.4375rem solid transparent;
        border-right: 0.4375rem solid transparent;
        transition: 0.4s;
      }
      .caret:after {
        content: '';
        position: absolute;
        left: 1rem;
        top: 0.625rem;
        border-top: 0.375rem solid $white;
        border-left: 0.375rem solid transparent;
        border-right: 0.375rem solid transparent;
        transition: 0.4s;
      }
    }
  }
  .dz-select-options {
    @extend %stuffs;
    max-height: 15.625rem;
    overflow-y: auto;
    .dz-select-option {
      padding: 0.375rem 0.9375rem;
      color: $dark;
      &:hover {
        background-color: $background;
        cursor: pointer;
      }
      &.dz-select-option-selected {
        background-color: $background;
      }
    }
  }
}
