.dz-radiobutton-container {
  display: block;
  position: relative;
  padding-left: 1.5625rem;
  margin-bottom: 0.1875rem;
  cursor: pointer;
  font-size: 0.875rem;
  user-select: none;
  line-height: 1;
  margin: 0.1875rem;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .dz-radiobutton-selected {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.9375rem;
    width: 0.9375rem;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: lighten($color: $muted, $amount: 30%);
  }
  &:hover {
    .dz-radiobutton-selected {
      background-color: lighten($color: $muted, $amount: 10%);
    }
  }
  input:checked ~ .dz-radiobutton-selected {
    background-color: $primary;
  }
  .dz-radiobutton-selected:after {
    content: '';
    position: absolute;
    display: none;
  }
  input:checked ~ .dz-radiobutton-selected:after {
    display: block;
  }
  .dz-radiobutton-selected:after {
    left: 4px;
    top: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $white;
  }
  @each $color, $value in $theme-colors {
    @include radiobutton-variant('.dz-radiobutton-#{$color}', $value);
  }
}
