@mixin card-bordered-variant($parent, $border) {
  &#{$parent} {
    .dz-card-header {
      border-top: 3px solid $border;
    }
  }
}

@mixin card-filled-header-variant($parent, $background) {
  &#{$parent} {
    .dz-card-header {
      background-color: $background;
      color: colorFromBackground($background);
    }
  }
}
@mixin card-filled-footer-variant($parent, $background) {
  &#{$parent} {
    .dz-card-footer {
      background-color: $background;
      color: colorFromBackground($background);
    }
  }
}
