@import '../../styles/main';
.dz-item-menu {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: $white;
  border: 0.0625rem solid $background;
  overflow-y: auto;
  width: 12.5rem;
  border-radius: 0.125rem;

  .item-item {
    i,
    svg {
      padding-right: 0.3125rem;
    }
    text-decoration: none;
    color: $muted;
    text-align: left;
    padding: 0.625rem 1.25rem;
    box-sizing: border-box;
    border-left: 0.25rem solid transparent;
    border-top: 0.125rem solid $background;
    font-size: small;
    &:hover {
      background-color: $background;
      cursor: pointer;
    }
    &.active {
      border-left: 0.25rem solid $success;
      background-color: $background;
    }
  }
}
