.dz-navbar {
  background-color: var(--white);
  color: var(--blue-blue);
  height: 62px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 62px;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.dz-navbar-sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.dz-navbar-brand {
  cursor: pointer;
  padding: 0 30px;
}
.dz-navbar-brand > a {
  text-decoration: none;
}
.dz-navbar-brand > a:visited {
  color: inherit;
}
